

.page-footer
    img(src='./images/icons/triangle2.svg').page-footer__icon
    .container.container_width_1000
        .footer-grid
            .footer-grid__item
                .footer-info
                    .footer-info__info 394016, г. Воронеж, ул. Хользунова, д.107
                    .footer-info__phones
                        p
                            a(href='tel:+7(473) 333-57-27').footer-info__link.footer-info__link_phone +7(473) 333-57-27
                        p
                            a(href='tel:+7(473) 333-57-27').footer-info__link.footer-info__link_phone 8-930-414-7-38
                    .footer-info__mail
                        a(href='mailto:ivonin_asg@bk.ru').footer-info__link.footer-info__link_mail ivonin_asg@bk.ru
            .footer-grid__item
                img(src='./images/icons/triangle.svg').footer-grid__top-icon
                ul.footer-nav-list
                    li.footer-nav-list__item
                        a(href='#').footer-nav-list__link О компании
                    li.footer-nav-list__item
                        a(href='#').footer-nav-list__link новости
                    li.footer-nav-list__item
                        a(href='#').footer-nav-list__link Услуги
                    li.footer-nav-list__item
                        a(href='#').footer-nav-list__link Оборудование
                    li.footer-nav-list__item
                        a(href='#').footer-nav-list__link Запасные части
            .footer-grid__item
                img(src='./images/icons/triangle.svg').footer-grid__top-icon
                ul.footer-nav-list
                    li.footer-nav-list__item
                        a(href='#').footer-nav-list__link Реализованные
                    li.footer-nav-list__item
                        a(href='#').footer-nav-list__link проекты
                    li.footer-nav-list__item
                        a(href='#').footer-nav-list__link Финансирование
                    li.footer-nav-list__item
                        a(href='#').footer-nav-list__link Партнёры
                    li.footer-nav-list__item
                        a(href='#').footer-nav-list__link Контакты

.page__menu.js-page-menu
    .page__menu-close
        button.close.close_green.js-page-menu-close
    ul.main-nav
        li.main-nav__item.main-nav-item
            a(href='#').main-nav-item__link
                .main-nav-item__icon-box
                    img(src='./images/icons/menu-icon1.svg').main-nav-item__link-icon
                .main-nav-item__link-text о компании
        li.main-nav__item.main-nav-item
            a(href='#').main-nav-item__link
                .main-nav-item__icon-box
                    img(src='./images/icons/menu-icon2.svg').main-nav-item__link-icon
                .main-nav-item__link-text Оборудование
        li.main-nav__item.main-nav-item.js-dropmenu
            button.main-nav-item__toggle-dropmenu.js-dropmenu-toggle
            a(href='#').main-nav-item__link
                .main-nav-item__icon-box
                    img(src='./images/icons/menu-icon3.svg').main-nav-item__link-icon
                .main-nav-item__link-text Услуги
            .main-nav-item__dropmenu
                    ul.dropmenu-list
                        li.dropmenu-list__item
                            a(href='#').dropmenu-list__link Оборудование для приемки зерна
                        li.dropmenu-list__item
                            a(href='#').dropmenu-list__link Транспортное оборудование
                        li.dropmenu-list__item
                            a(href='#').dropmenu-list__link Зерноочистительное оборудование
                        li.dropmenu-list__item
                            a(href='#').dropmenu-list__link Изготовление рекламных конструкций
                        li.dropmenu-list__item
                            a(href='#').dropmenu-list__link Зерносушильное оборудование
                        li.dropmenu-list__item
                            a(href='#').dropmenu-list__link Оборудование для  хранения зерна
                        li.dropmenu-list__item
                            a(href='#').dropmenu-list__link Аспирационное оборудование
        li.main-nav__item.main-nav-item
            a(href='#').main-nav-item__link
                .main-nav-item__icon-box
                    img(src='./images/icons/menu-icon4.svg').main-nav-item__link-icon
                .main-nav-item__link-text Реализованные проекты
        li.main-nav__item.main-nav-item
            a(href='#').main-nav-item__link
                .main-nav-item__icon-box
                    img(src='./images/icons/menu-icon5.svg').main-nav-item__link-icon
                .main-nav-item__link-text сервис
        li.main-nav__item.main-nav-item
            a(href='#').main-nav-item__link
                .main-nav-item__icon-box
                    img(src='./images/icons/menu-icon6.svg').main-nav-item__link-icon
                .main-nav-item__link-text новости
        li.main-nav__item.main-nav-item
            a(href='#').main-nav-item__link
                .main-nav-item__icon-box
                    img(src='./images/icons/menu-icon7.svg').main-nav-item__link-icon
                .main-nav-item__link-text Контакты