

.page-footer
    img(src='./images/icons/triangle2.svg').page-footer__icon
    .container.container_width_1000
        .footer-grid
            .footer-grid__item
                .footer-info
                    .footer-info__info 394016, г. Воронеж, ул. Хользунова, д.107
                    .footer-info__phones
                        p
                            a(href='tel:+7(473) 333-57-27').footer-info__link.footer-info__link_phone +7(473) 333-57-27
                        p
                            a(href='tel:+7(473) 333-57-27').footer-info__link.footer-info__link_phone 8-930-414-7-38
                    .footer-info__mail
                        a(href='mailto:ivonin_asg@bk.ru').footer-info__link.footer-info__link_mail ivonin_asg@bk.ru
            .footer-grid__item
                img(src='./images/icons/triangle.svg').footer-grid__top-icon
                ul.footer-nav-list
                    li.footer-nav-list__item
                        a(href='#').footer-nav-list__link О компании
                    li.footer-nav-list__item
                        a(href='#').footer-nav-list__link новости
                    li.footer-nav-list__item
                        a(href='#').footer-nav-list__link Услуги
                    li.footer-nav-list__item
                        a(href='#').footer-nav-list__link Оборудование
                    li.footer-nav-list__item
                        a(href='#').footer-nav-list__link Запасные части
            .footer-grid__item
                img(src='./images/icons/triangle.svg').footer-grid__top-icon
                ul.footer-nav-list
                    li.footer-nav-list__item
                        a(href='#').footer-nav-list__link Реализованные
                    li.footer-nav-list__item
                        a(href='#').footer-nav-list__link проекты
                    li.footer-nav-list__item
                        a(href='#').footer-nav-list__link Финансирование
                    li.footer-nav-list__item
                        a(href='#').footer-nav-list__link Партнёры
                    li.footer-nav-list__item
                        a(href='#').footer-nav-list__link Контакты

//.page__menu.js-page-menu
//    button.page__menu-close.js-page-menu-close
//    ul.main-nav
//        li.main-nav__item.main-nav-item
//            a(href='#').main-nav-item__link ГЛАВНАЯ
//        li.main-nav__item.main-nav-item
//            a(href='#').main-nav-item__link КАРТА
//        li.main-nav__item.main-nav-item
//            a(href='#').main-nav-item__link РЕКЛАМНЫХ КОНСТРУКЦИЙ
//        li.main-nav__item.main-nav-item.js-dropmenu
//            a(href='#').main-nav-item__link.js-dropmenu-toggle
//                | РЕКЛАМНЫЕ УСЛУГИ
//                i.main-nav-item__arrow
//            .main-nav-item__dropmenu
//                ul.dropmenu-list
//                    li.dropmenu-list__item
//                        a(href='#').dropmenu-list__link Интерьерная  и широкоформатная печать
//                    li.dropmenu-list__item
//                        a(href='#').dropmenu-list__link Разработка макетов
//                    li.dropmenu-list__item
//                        a(href='#').dropmenu-list__link Собственное производство рекламных щитов
//                    li.dropmenu-list__item
//                        a(href='#').dropmenu-list__link Изготовление рекламных конструкций
//        li.main-nav__item.main-nav-item
//            a(href='#').main-nav-item__link контакты
//        li.main-nav__item.main-nav-item.main-nav-item_dark
//            a(href='#').main-nav-item__link Связаться с менеджером