.grid-nav
    .grid-nav__item
        .grid-nav-item
            .grid-nav-item__default
                img(src='./images/icons/grid-nav-icon1.svg').grid-nav-item__icon
                .grid-nav-item__link Оборудование для приемки зерна
            .grid-nav-item__dropbox
                ul.dropmenu-list.dropmenu__nav-list
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Оборудование для приемки зерна
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Транспортное оборудование
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Зерноочистительное оборудование
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Изготовление рекламных конструкций
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Зерносушильное оборудование
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Оборудование для  хранения зерна
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Аспирационное оборудование
    .grid-nav__item
        .grid-nav-item
            .grid-nav-item__default
                img(src='./images/icons/grid-nav-icon1.svg').grid-nav-item__icon
                .grid-nav-item__link Транспортное оборудование
            .grid-nav-item__dropbox
                ul.dropmenu-list.dropmenu__nav-list
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Оборудование для приемки зерна
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Транспортное оборудование
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Зерноочистительное оборудование
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Изготовление рекламных конструкций
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Зерносушильное оборудование
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Оборудование для  хранения зерна
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Аспирационное оборудование
    .grid-nav__item
        .grid-nav-item
            .grid-nav-item__default
                img(src='./images/icons/grid-nav-icon1.svg').grid-nav-item__icon
                .grid-nav-item__link Зерноочистительное оборудование
            .grid-nav-item__dropbox
                ul.dropmenu-list.dropmenu__nav-list
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Оборудование для приемки зерна
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Транспортное оборудование
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Зерноочистительное оборудование
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Изготовление рекламных конструкций
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Зерносушильное оборудование
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Оборудование для  хранения зерна
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Аспирационное оборудование
    .grid-nav__item
        .grid-nav-item
            .grid-nav-item__default
                img(src='./images/icons/grid-nav-icon1.svg').grid-nav-item__icon
                .grid-nav-item__link Зерносушильное оборудование
            .grid-nav-item__dropbox
                ul.dropmenu-list.dropmenu__nav-list
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Оборудование для приемки зерна
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Транспортное оборудование
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Зерноочистительное оборудование
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Изготовление рекламных конструкций
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Зерносушильное оборудование
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Оборудование для  хранения зерна
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Аспирационное оборудование
    .grid-nav__item
        .grid-nav-item
            .grid-nav-item__default
                img(src='./images/icons/grid-nav-icon1.svg').grid-nav-item__icon
                .grid-nav-item__link Оборудование для хранения зерна
            .grid-nav-item__dropbox
                ul.dropmenu-list.dropmenu__nav-list
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Оборудование для приемки зерна
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Транспортное оборудование
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Зерноочистительное оборудование
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Изготовление рекламных конструкций
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Зерносушильное оборудование
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Оборудование для  хранения зерна
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Аспирационное оборудование
    .grid-nav__item
        .grid-nav-item
            .grid-nav-item__default
                img(src='./images/icons/grid-nav-icon1.svg').grid-nav-item__icon
                .grid-nav-item__link Аспирационное оборудование
            .grid-nav-item__dropbox
                ul.dropmenu-list.dropmenu__nav-list
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Оборудование для приемки зерна
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Транспортное оборудование
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Зерноочистительное оборудование
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Изготовление рекламных конструкций
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Зерносушильное оборудование
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Оборудование для  хранения зерна
                    li.dropmenu-list__item
                        a(href='#').dropmenu-list__link Аспирационное оборудование
