

.page-header
    .page-header__top-section
        .container.page-header__top-container
            .page-header__logo
                a(href='#').header-logo
                    img(src='./images/icons/logo.svg').header-logo__img
                    .header-logo__content Оборудование для хранения <br/> и переработки зерна
            .page-header__contacts
                .header-phones
                    p.header-phones__line
                        a(href='tel:+7(473) 333-57-27').header-phones__link +7(473) 333-57-27
                    p.header-phones__line
                        a(href='tel:+7(473) 333-57-27').header-phones__link 8-930-414-79-38
            .page-header__hamburger
                button.hamburger.js-page-menu-open
                    i.hamburger__line.hamburger__line_top
                    i.hamburger__line
                    i.hamburger__line.hamburger__line_bottom
    .page-header__bottom-section
        .container
            ul.main-nav
                li.main-nav__item.main-nav-item
                    a(href='#').main-nav-item__link
                        img(src='./images/icons/menu-icon1.svg').main-nav-item__link-icon
                        .main-nav-item__link-text о компании
                li.main-nav__item.main-nav-item
                    a(href='#').main-nav-item__link
                        img(src='./images/icons/menu-icon2.svg').main-nav-item__link-icon
                        .main-nav-item__link-text Оборудование
                li.main-nav__item.main-nav-item
                    a(href='#').main-nav-item__link
                        img(src='./images/icons/menu-icon3.svg').main-nav-item__link-icon
                        .main-nav-item__link-text Услуги
                    .main-nav-item__dropmenu
                        .dropmenu
                            .dropmenu__nav-box
                                ul.dropmenu-list.dropmenu__nav-list
                                    li.dropmenu-list__item
                                        a(href='#').dropmenu-list__link Оборудование для приемки зерна
                                    li.dropmenu-list__item
                                        a(href='#').dropmenu-list__link Транспортное оборудование
                                    li.dropmenu-list__item
                                        a(href='#').dropmenu-list__link Зерноочистительное оборудование
                                    li.dropmenu-list__item
                                        a(href='#').dropmenu-list__link Изготовление рекламных конструкций
                                    li.dropmenu-list__item
                                        a(href='#').dropmenu-list__link Зерносушильное оборудование
                                    li.dropmenu-list__item
                                        a(href='#').dropmenu-list__link Оборудование для  хранения зерна
                                    li.dropmenu-list__item
                                        a(href='#').dropmenu-list__link Аспирационное оборудование
                            .dropmenu__img-box
                                img(src='./images/icons/menu-icon8.svg').dropmenu__img

                li.main-nav__item.main-nav-item
                    a(href='#').main-nav-item__link
                        img(src='./images/icons/menu-icon4.svg').main-nav-item__link-icon
                        .main-nav-item__link-text Реализованные проекты
                li.main-nav__item.main-nav-item
                    a(href='#').main-nav-item__link
                        img(src='./images/icons/menu-icon5.svg').main-nav-item__link-icon
                        .main-nav-item__link-text сервис
                li.main-nav__item.main-nav-item
                    a(href='#').main-nav-item__link
                        img(src='./images/icons/menu-icon6.svg').main-nav-item__link-icon
                        .main-nav-item__link-text новости
                li.main-nav__item.main-nav-item
                    a(href='#').main-nav-item__link
                        img(src='./images/icons/menu-icon7.svg').main-nav-item__link-icon
                        .main-nav-item__link-text Контакты
