include pug/project-settings.pug
include pug/mixins/mixins.pug

doctype html
html
    head(lang="en")
        include pug/metatags.pug
        +title('Главная')
        include pug/styles.pug

    body
        .page
            .page__header
                include pug/components/header

            main.page__main
                .st-section.st-section_first
                    .st-section__breadcrumbs
                        .container
                            nav.breadcrumbs
                                a(href='#').breadcrumbs__item Главная
                                span.breadcrumbs__item Финансирование
                    .st-section__title
                        .container.container_width_1000
                            h1.title.title_line-top Финансирование

                    .container
                        .list-boxes
                            .list-boxes__item
                                .list-boxes-item
                                    .list-boxes-item__preview-box
                                        .list-boxes-item__icon-circle
                                            img(src='./images/financing/financing1.jpg').list-boxes-item__icon
                                    .list-boxes-item__content-box
                                        .list-boxes-item__title
                                            h2.title.title_line-top Федеральная программа <br/> субсидирования 1432
                                        .st-text.st-text_list
                                            p Компания «АSG» поставляет оборудование Российских заводов-производителей по программе предоставления субсидий производителям сельскохозяйственной техники согласно Постановлению Правительства РФ от 27.12.2012г. № 1432.
                                            p В программе участвует более 600 наименований оборудования производимого заводом «РОМАКС», в числе которых:
                                            ul
                                                li мобильный зерноочистительный комплекс ALFA MGC
                                                li зерноочистительные машины ALFA
                                                li универсальные решетные зерноочистительные машины BETA
                                                li элеваторы ковшовые (нории)
                                                li цепные и скребковые конвейеры (транспортеры)
                                                li зачистные шнеки (обеговые)
                                                li силосы металлические (плоскодонные, конусные)
                                                li зерносушилки
                                            p Сделки по Программе 1432 заключаются только с сельхозтоваропроизводителями, подтвердившими этот статус соответствующими документами.

                            .list-boxes__item
                                .list-boxes-item
                                    .list-boxes-item__preview-box
                                        .list-boxes-item__icon-circle
                                            img(src='./images/financing/financing2.jpg').list-boxes-item__icon
                                    .list-boxes-item__content-box
                                        .list-boxes-item__title
                                            h2.title.title_line-top Постановление Р.Ф. № 547
                                        .st-text.st-text_list
                                            p Компания «АSG» поставляет оборудование Российских заводов-производителей по программе поддержки производителей машин и оборудования для пищевой и перерабатывающей промышленности, утвержденной постановлением Правительства Российской Федерации от 10 мая 2017 г. № 547.
                                            p Основным критерием для получения поддержки в рамках указанного механизма является наличие подтверждения производства промышленной продукции на территории Российской Федерации в соответствии с требованиями, установленными постановлением Правительства Российской Федерации от 17 июля 2015 г. № 719.

                            .list-boxes__item
                                .list-boxes-item
                                    .list-boxes-item__preview-box
                                        .list-boxes-item__icon-circle
                                            img(src='./images/financing/financing3.jpg').list-boxes-item__icon
                                    .list-boxes-item__content-box
                                        .list-boxes-item__title
                                            h2.title.title_line-top Коммерческий лизинг
                                        .st-text.st-text_list
                                            p Компания «АSG» поставляет сельхозтоваропроизводителям оборудование производимое заводом «РОМАКС» в лизинг от компании «Сименс Финанс». В программе участвует более 600 наименований оборудования производимого заводом «РОМАКС», в числе которых:
                                            ul
                                                li мобильный зерноочистительный комплекс ALFA MGC
                                                li зерноочистительные машины ALFA
                                                li универсальные решетные зерноочистительные машины BETA
                                                li элеваторы ковшовые (нории)
                                                li цепные и скребковые конвейеры (транспортеры)
                                                li зачистные шнеки (обеговые)
                                                li силосы металлические (плоскодонные, конусные)
                                                li зерносушилки







            include pug/components/footer


    include pug/scripts.pug
    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
    script(src='js/ymap.js')
