include pug/project-settings.pug
include pug/mixins/mixins.pug

doctype html
html
    head(lang="en")
        include pug/metatags.pug
        +title('Главная')
        include pug/styles.pug

    body
        .page
            .page__header
                include pug/components/header

            main.page__main
                .st-section.st-section_first
                    .st-section__breadcrumbs
                        .container
                            nav.breadcrumbs
                                a(href='#').breadcrumbs__item Главная
                                span.breadcrumbs__item Новые технологии

                    .container.container_width_1000
                        .st-section__title
                            .container.container_width_1000
                                h1.title.title_line-top Новые технологии

                        .st-section__section
                            .st-section__title
                                h3.title.title_section-title.title_line-top АВТОМАТИЗАЦИЯ ЗЕРНОСУШИЛОК
                            .container.container_width_550
                                img(src='./images/previews/preview8.png').content-full-image
                            .st-text.st-text_mb_20
                                p Среди всего многообразия принципов принудительной сушки зерна, самый распространённый – конвективный.  В конвективных зерносушилках шахтного и бункерного типа в качестве агента сушки используется воздух, нагреваемый в калорифере или непосредственно в топке путем смешивания с продуктами сгорания топлива. Это может быть жидкое или твердое топливо, природный газ или электроэнергия.
                            .container.container_width_750
                                img(src='./images/previews/preview9.jpg').content-full-image
                            .st-text
                                p Шахтные зерносушилки Российских производителей в среднем на сушку одной плановой тонны зерна расходуют порядка 10,3 кг. условного топлива и 4,9 кВт/ч. электроэнергии.
                                p У ведущих зарубежных производителей, таких как Cimbria, Tornum, Petkus расход энергозатрат от 8 до 12,2 кг. условного топлива и 3 кВт/ч. электроэнергии на плановую тонну.
                                p Данные показатели говорят о том, что в себестоимости готового продукта затраты на энергоносители для сушки зерна занимают значительную долю (до 30%). Поэтому процесс автоматизации, при сушке зерна для обеспечения требуемой влажности, должен находиться в фокусе внимания сельхозтоваропроизводителей.


                        .st-section__section
                            .st-section__title
                                h3.title.title_section-title.title_line-top Существующие системы автоматизации зерносушилок
                            .st-text
                                p По результатам анализа существующих систем автоматики зерносушилок, только 10% зерносушилок оборудованы поточными влагомерами зерна. При этом датчики влажности установлены на выгрузном устройстве, а данные с них поступают на индикаторы влажности у оператора. Это позволяет обеспечивать требующуюся влажность зерна перед закладкой на хранение, но никак не оптимизировать сам процесс сушки в разрезе рационального использования теплового агента.
                                p Другие 90% оборудованы датчиками температуры теплового агента, или в лучшем случае температуры зерна. Регулирование влажности при этом происходит на основании данных об исходной влажности сырья, вида зерна и его целевого назначения. А процесс управляется изменением температуры теплоносителя и временем сушки и выгрузки, определяется оператором.



            include pug/components/footer


    include pug/scripts.pug
