include pug/project-settings.pug
include pug/mixins/mixins.pug

doctype html
html
    head(lang="en")
        include pug/metatags.pug
        +title('Главная')
        include pug/styles.pug

    body
        .page
            .page__header
                include pug/components/header

            main.page__main
                .st-section.st-section_first
                    .st-section__breadcrumbs
                        .container
                            nav.breadcrumbs
                                a(href='#').breadcrumbs__item Главная
                                span.breadcrumbs__item Реализованные проекты

                    .container.container_width_1000
                        .st-section__title
                            h1.title.title_line-top  Новости

                        .news-list
                            .news-list__item
                                .news-item
                                    .news-item__image-box
                                        .image-proportional-box.image-proportional-box_size_76
                                            img(src='./images/previews/preview2.jpg').image-proportional-box__image
                                    .news-item__content-box
                                        .text-box.news-item__text-box
                                            .text-box__date 20. 03. 2018
                                            .text-box__title ООО «ASG» инжиниринговая компания, являющаяся дилерским и сервисным центром
                                            .text-box__descr
                                                .st-text Завод «ROMAX» - один из лидирующих заводов-производителей в России, специализирующийся на производстве силосов хранения, зерноочистительного, транспортного, сопутствующего оборудования, металлоконструкций и комплектующих материалов для зерноочистительных комплексов
                                        a(href='#').news-item__more-btn подробнее > >
                            .news-list__item
                                .news-item
                                    .news-item__image-box
                                        .image-proportional-box.image-proportional-box_size_76
                                            img(src='./images/previews/preview2.jpg').image-proportional-box__image
                                    .news-item__content-box
                                        .text-box.news-item__text-box
                                            .text-box__date 20. 03. 2018
                                            .text-box__title ООО «ASG» инжиниринговая компания, являющаяся дилерским и сервисным центром
                                            .text-box__descr
                                                .st-text Завод «ROMAX» - один из лидирующих заводов-производителей в России, специализирующийся на производстве силосов хранения, зерноочистительного, транспортного, сопутствующего оборудования, металлоконструкций и комплектующих материалов для зерноочистительных комплексов
                                        a(href='#').news-item__more-btn подробнее > >

                            .news-list__item
                                .news-item
                                    .news-item__image-box
                                        .image-proportional-box.image-proportional-box_size_76
                                            img(src='./images/previews/preview2.jpg').image-proportional-box__image
                                    .news-item__content-box
                                        .text-box.news-item__text-box
                                            .text-box__date 20. 03. 2018
                                            .text-box__title ООО «ASG» инжиниринговая компания, являющаяся дилерским и сервисным центром
                                            .text-box__descr
                                                .st-text Завод «ROMAX» - один из лидирующих заводов-производителей в России, специализирующийся на производстве силосов хранения, зерноочистительного, транспортного, сопутствующего оборудования, металлоконструкций и комплектующих материалов для зерноочистительных комплексов
                                        a(href='#').news-item__more-btn подробнее > >

                        .pagination-in-section
                            nav.pagination
                                a(href='#').pagination__item.pagination__item_prev <<
                                a(href='#').pagination__item.pagination__item_number 1
                                a(href='#').pagination__item.pagination__item_number 2
                                a(href='#').pagination__item.pagination__item_number.active 3
                                a(href='#').pagination__item.pagination__item_number 4
                                a(href='#').pagination__item.pagination__item_next >>



            include pug/components/footer


        include pug/scripts.pug
        script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
        script(src='js/ymap.js')
