include pug/project-settings.pug
include pug/mixins/mixins.pug

doctype html
html
    head(lang="en")
        include pug/metatags.pug
        +title('Главная')
        include pug/styles.pug

    body
        .page
            .page__header
                include pug/components/header

            main.page__main
                .st-section.st-section_first
                    .st-section__breadcrumbs
                        .container
                            nav.breadcrumbs
                                a(href='#').breadcrumbs__item Главная
                                span.breadcrumbs__item Новые технологии

                    .container.container_width_820
                        .st-section__title
                            h1.title.title_line-top Новые технологии

                        .st-section__section
                            .st-section__title
                                h3.title.title_section-title.title_line-top АВТОМАТИЗАЦИЯ ЗЕРНОСУШИЛОК
                            .container.container_width_550
                                img(src='./images/previews/preview8.png').content-full-image
                            .st-text.st-text_mb_20
                                p Среди всего многообразия принципов принудительной сушки зерна, самый распространённый – конвективный.  В конвективных зерносушилках шахтного и бункерного типа в качестве агента сушки используется воздух, нагреваемый в калорифере или непосредственно в топке путем смешивания с продуктами сгорания топлива. Это может быть жидкое или твердое топливо, природный газ или электроэнергия.
                            .container.container_width_750
                                img(src='./images/previews/preview9.jpg').content-full-image
                            .st-text
                                p Шахтные зерносушилки Российских производителей в среднем на сушку одной плановой тонны зерна расходуют порядка 10,3 кг. условного топлива и 4,9 кВт/ч. электроэнергии.
                                p У ведущих зарубежных производителей, таких как Cimbria, Tornum, Petkus расход энергозатрат от 8 до 12,2 кг. условного топлива и 3 кВт/ч. электроэнергии на плановую тонну.
                                p Данные показатели говорят о том, что в себестоимости готового продукта затраты на энергоносители для сушки зерна занимают значительную долю (до 30%). Поэтому процесс автоматизации, при сушке зерна для обеспечения требуемой влажности, должен находиться в фокусе внимания сельхозтоваропроизводителей.


                        .st-section__section
                            .st-section__title
                                h3.title.title_section-title.title_line-top Существующие системы автоматизации зерносушилок
                            .st-text
                                p По результатам анализа существующих систем автоматики зерносушилок, только 10% зерносушилок оборудованы поточными влагомерами зерна. При этом датчики влажности установлены на выгрузном устройстве, а данные с них поступают на индикаторы влажности у оператора. Это позволяет обеспечивать требующуюся влажность зерна перед закладкой на хранение, но никак не оптимизировать сам процесс сушки в разрезе рационального использования теплового агента.
                                p Другие 90% оборудованы датчиками температуры теплового агента, или в лучшем случае температуры зерна. Регулирование влажности при этом происходит на основании данных об исходной влажности сырья, вида зерна и его целевого назначения. А процесс управляется изменением температуры теплоносителя и временем сушки и выгрузки, определяется оператором.

                        .st-section__section
                            .st-section__title
                                h3.title.title_section-title.title_line-top Недостатки существующих систем управления сушкой
                            .st-text
                                p Исходя из результатов анализа существующих систем управления сушкой зерна, следует отметить следующие недостатки:
                                p
                            .st-text.st-text_list.st-text_pl_45.st-text_mb_true
                                p Замыкание процесса регулировки на оператора, т.е. высокое влияние на качество процесса человеческого фактора.
                                p Значительный разброс итоговой влажности, тогда как в пределах допуска итоговой влажности зерна (1-2%) снижение 			    влажности на 1% экономит от 1 до 1,5 кг. условного топлива на тонну.
                                p Непроизводительный расход энергоносителей обусловленный косвенным управлением итоговой влажности.


                        .st-section__section
                            .st-section__title
                                h3.title.title_section-title.title_line-top Автоматизированный процесс сушки <br/> с применением поточных влагомеров
                            .st-text
                                p Поточные влагомеры в режиме онлайн отслеживают реальные показатели влажности зерна в зоне загрузки, различных зонах сушки и зоне выгрузки зерна, что дает возможность организовать автоматизированную систему управления режимами зерносушилки на основе ПЛК и СКАДА нацеленную на экономию топлива и обеспечение качества сушки зерна.
                                p Правильно подобранные поточные измерители влажности зерна, выдают достоверные и точные результаты измерения, с погрешностью до 0,1%. Благодаря чему на выгрузке зерна в течении всего времени, зерновой материал имеет одинаковую влажность, при этом экономятся энергоресурсы, так как нет необходимости завышать температуру в сушилке.

                        img(src='./images/previews/preview10.jpg').content-full-image

                        .st-section__section
                            .st-section__title
                                h3.title.title_section-title.title_line-top Выгоды от применения влагомеров <br/> зерна в зерносушилках.
                            .st-text
                                p Применение влагомеров зерна в различных зонах зерносушилки в составе автоматизированной системы управления дает неоспоримые экономические выгоды:
                                p
                            .st-text.st-text_list.st-text_pl_45.st-text_mb_true
                                p экономия энергоносителя (газ, жидкое или твердое топливо, электроэнергия);
                                p сокращение потерь продукта в процессе сушки;
                                p исключение человеческого фактора при контроле и управлении процессом сушки;
                                p непрерывный автоматизированный контроль и протоколирования параметров работы зерносушилки;
                                p увеличение производительности зерносушилки и всего комплекса хранения и зерно переработки.


            include pug/components/footer


    include pug/scripts.pug
