include pug/project-settings.pug
include pug/mixins/mixins.pug

doctype html
html
    head(lang="en")
        include pug/metatags.pug
        +title('Главная')
        include pug/styles.pug

    body
        .page
            .page__header
                include pug/components/header

            main.page__main
                .st-section.st-section_first
                    .st-section__breadcrumbs
                        .container
                            nav.breadcrumbs
                                a(href='#').breadcrumbs__item Главная
                                span.breadcrumbs__item Запасные части

                    .container.container_width_1000
                        .st-section__title
                            h1.title.title_line-top АВТОМАТИЗИРОВАННЫЕ СИСТЕМЫ УПРАВЛЕНИЯ

                        .st-section__section
                            img(src='./images/preview-full/control-img1.jpg').content-full-image

                        .st-section__section
                            .text-image
                                .text-image__image-box
                                    .image-proportional-box.image-proportional-box_size_76
                                        img(src='./images/preview-full/control-img2.jpg').image-proportional-box__image
                                .text-image__text-box
                                    .gray-text-container
                                        i.gray-text-container__top-line.st-line.st-line_width_50
                                        i.gray-text-container__bottom-line.st-line.st-line_width_50
                                        .st-text.st-text_list
                                            p ООО "ASG" реализует комплексные системы автоматизации и диспетчеризации инженерного оборудования. Мы предлагаем только современные технологии автоматизации и реализуем полный комплекс работ: от проекта до сдачи в эксплуатацию и последующего обслуживания.  На все работы и установленное оборудование предоставляется гарантия.
                                            p Отлаженный процесс проектирования, большой опыт электро-монтажных и пуско-наладочных работ, а также ответственность компании за результаты внедрения проекта в производство, позволят добиться высокого качества работ, сократить сроки выполнения заказа и оптимизировать затраты Заказчика.
                        .st-section__section
                            .container.container_width_700
                                .st-section__title
                                    h3.title.title_section-title.title_line-top Разработка систем диспетчеризации на основе SCADA систем
                                .st-text
                                    p Автоматизированная система  управления может включать в себя панели оператора и персональные компьютеры в обычном или промышленном исполнении. Системы диспетчеризации разрабатываются как самостоятельное программное обеспечение, созданное с учетом нужд Заказчика  на основе SCADA систем.
                                    p Потенциал компании позволяет реализовывать проекты любой сложности: от небольших частных заказов до крупных объектов в промышленной сфере и предоставлять комплексное решение Заказчику.

                        .st-section__section
                            .gallery-grid.js-carousel-gallery.owl-carousel.owl-theme
                                .gallery-grid__item
                                    a(href='./images/preview-full/control-img3.jpg'  data-fancybox='gallery').image-proportional-box.image-proportional-box_size_76.image-proportional-box_gallery
                                        img(src='./images/preview-small/control-img3.jpg').image-proportional-box__image
                                .gallery-grid__item
                                    a(href='./images/preview-full/control-img4.jpg'  data-fancybox='gallery').image-proportional-box.image-proportional-box_size_76.image-proportional-box_gallery
                                        img(src='./images/preview-small/control-img4.jpg').image-proportional-box__image
                                .gallery-grid__item
                                    a(href='./images/preview-full/control-img5.jpg'  data-fancybox='gallery').image-proportional-box.image-proportional-box_size_76.image-proportional-box_gallery
                                        img(src='./images/preview-small/control-img5.jpg').image-proportional-box__image



            include pug/components/footer


        include pug/scripts.pug
