include pug/project-settings.pug
include pug/mixins/mixins.pug

doctype html
html
    head(lang="en")
        include pug/metatags.pug
        +title('Главная')
        include pug/styles.pug

    body
        .page
            .page__header
                include pug/components/header

            main.page__main
                .st-section.st-section_first
                    .st-section__breadcrumbs
                        .container
                            nav.breadcrumbs
                                a(href='#').breadcrumbs__item Главная
                                a(href='#').breadcrumbs__item сервис
                                span.breadcrumbs__item ТЕХНИЧЕСКОЕ СОПРОВОЖДЕНИЕ
                    .container.container_width_1000
                        .st-section__title
                            h1.title.title_line-top ТЕХНИЧЕСКОЕ СОПРОВОЖДЕНИЕ

                        .st-section__section
                            .text-image.text-image_content-bottom
                                .text-image__image-box
                                    .text-image__icon-box
                                        img(src='./images/icons/technical-support1.svg').text-image__icon
                                    .image-proportional-box.image-proportional-box_size_65
                                        img(src='./images/preview-full/support-img1.jpg').image-proportional-box__image
                                .text-image__text-box
                                    .gray-text-container
                                        i.gray-text-container__top-line.st-line.st-line_width_50
                                        i.gray-text-container__bottom-line.st-line.st-line_width_50
                                        .st-text.st-text_list
                                            p Помощь Заказчику в составлении подробного технического задания и выборе оборудования для комплексов хранения и переработки зерна.
                        .st-section__section
                            .text-image.text-image_content-bottom
                                .text-image__image-box
                                    .text-image__icon-box
                                        img(src='./images/icons/technical-support2.svg').text-image__icon
                                    .image-proportional-box.image-proportional-box_size_65
                                        img(src='./images/preview-full/support-img2.jpg').image-proportional-box__image
                                .text-image__text-box
                                    .gray-text-container
                                        i.gray-text-container__top-line.st-line.st-line_width_50
                                        i.gray-text-container__bottom-line.st-line.st-line_width_50
                                        .st-text.st-text_list
                                            p Помощь в «привязке» оборудования в существующую технологическую линию Заказчика,  для эффективной работы объекта и достижения максимально возможных результатов.

                        .st-section__section
                            .text-image.text-image_content-bottom
                                .text-image__image-box
                                    .text-image__icon-box
                                        img(src='./images/icons/technical-support3.svg').text-image__icon
                                    .image-proportional-box.image-proportional-box_size_65
                                        img(src='./images/preview-full/support-img3.jpg').image-proportional-box__image
                                .text-image__text-box
                                    .gray-text-container
                                        i.gray-text-container__top-line.st-line.st-line_width_50
                                        i.gray-text-container__bottom-line.st-line.st-line_width_50
                                        .st-text.st-text_list
                                            p Бесплатная консультация Заказчика по всем вопросам, связанным приёмкой, очисткой, сушкой и хранением зерна.


            include pug/components/footer


        include pug/scripts.pug
        script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
        script(src='js/ymap.js')
